<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.arxiv.daemon.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>86400</integer>

    <key>StandardErrorPath</key>
    <string>/Users/danial/github/py-grouparticles/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/danial/github/py-grouparticles/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>//anaconda/envs/py35/bin:/usr/local/opt/openssl/bin://anaconda/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/opt/X11/bin:/usr/local/git/bin</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/danial/github/py-grouparticles</string>

    <key>ProgramArguments</key>
    <array>
      <string>./update_arxiv_list.sh</string>
    </array>

  </dict>
</plist>
